.container{
    max-width:1920px;
    width: 100%;
    margin:  0 auto;
}

header{
    width:80%;
    display: flex;
    justify-content:space-between;
    padding: 15px;
    align-items: center;
    margin: auto;

}

.right{
    display: flex;   
    align-items: center;
    justify-content: space-between;
    width:35vw;
    
}


ul{
    width:30vw;
    display: flex;
    justify-content: space-between;
}